@model Fabrica.Carros.Web.ViewModels.Carro.CarroIndexViewModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeCarro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeCarro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCarro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
